﻿@model FormsTableModel
@{
    
}

<table class="table table-condensed table-striped">
    <caption>Список пользователей</caption>
    <thead> <tr>
    <th>
        Имя <br />
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        @Html.DropDownList("name1_selector", Model.FirstNames)
    </th>
    <th>
        Фамилия<br />
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        @Html.DropDownList("name2_selector", Model.LastNames)
    </th>
    <th>
        Дата рождения<br />
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        @Html.DropDownList("bday_selector", Model.BirthDays)
    </th>
    <th>
        Телефон<br />
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        @Html.DropDownList("tel_selector", Model.Phones)
    </th>
    <th>
        Любимый цвет<br />
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        @Html.DropDownList("color_selector", Model.Colors)
    </th>
    <th>
        Любимый напиток<br />
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        @Html.DropDownList("drink_selector", Model.Drinks)
    </th>    
</tr>
    </thead>
    <tbody> 
        @foreach (var user in Model.TableRows)
        {
            var birth = "";
            if (user.BirthDay != null)
            {
                birth = ((DateTime)user.BirthDay).ToString("d");
            }

        <tr> 
            <td name="name1">@user.FirstName</td> 
        <td name="name2">@user.LastName</td> 
        <td name="bday">@birth</td> 
        <td name="tel">@user.Phone</td>
        <td name="color">@user.Color</td>
        <td name="drink">@user.Drink</td>
        </tr> 
        }
    </tbody>
</table>

@section Scripts {

<script >
    
    $().ready(() => {
        ['name1','name2','bday','tel','color','drink'].forEach((field, ix) => {
            $(`#${field}_selector`).change(() => {
                let selected = $(`#${field}_selector`).val();
                $('tbody > tr').each((ix, el) => {
                    if ($(el).children(`td[name=${field}]`).eq(0).html() != selected) {
                        $(el).hide();
                    } else $(el).show();
                });
            });
        });       
    });
</script>
}

