﻿@model ClassLibrary.Data.FormModel
@{
    ViewData["Title"] = "Home Page";
}
<h2>Регистрация</h2>
<form asp-action="SaveForm" asp-controller="Home"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#formresult">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="name1">Имя</label>
            <input name="FirstName" class="form-control" id="name1" required/>
        </div>
        <div class="form-group col-md-4">
            <label for="name2">Фамилия</label>
            <input name="LastName" class="form-control" id="name2" required />
        </div>
        <div class="form-group col-md-4">
            <label for="bDay">Дата рождения</label>
            <input name="BirthDay" type="date" class="form-control" id="bDay">
        </div>
    </div>   
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputTel">Телефон</label>
            <input type="tel" pattern="\+?\d{6,11}" name="Phone" class="form-control" id="inputTel" placeholder="+7.." required>
        </div>
        <div class="form-group col-md-4">
            <label for="inputColor">Вопрос 1: Какой цвет вам больше нравится?</label>
            <select id="inputColor" name="Color" class="form-control">
                <option selected>-</option>
                <option>
                    Синий    
                </option>
                <option>Желтый</option>
                <option>Красный</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputDrink">Вопрос 2: Какой напиток вы предпочитаете?</label>
            <select id="inputDrink" name="Drink" class="form-control">
                <option selected>-</option>
                <option>
                    Чай
                </option>
                <option>Кофе</option>
                <option>Сок</option>
                <option>Вода</option>
            </select>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>

<div id="formresult">
    
</div>
